:root {

  /* Colors: */
  --unnamed-color-d30531: #D30531;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-00000073: #00000073;
  --unnamed-color-000000: #000000;
  --unnamed-color-e5edf3: #E5EDF3;
  --unnamed-color-00468533: #00468533;
  --unnamed-color-004685: #004685;
  --unnamed-color-569ddc: #569DDC;

  /* Font/text values */
  --unnamed-font-family-open-sans: 'Open Sans';
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-36: 36px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-16: 16px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-32: 32px;
  --unnamed-line-spacing-49: 49px;
  --unnamed-decoration-underline: underline;
}

$default_transition: all 0.3s ease 0s;